<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/links') %>
  </head>
  <body>
    <%- include('partials/scripts') %>
    <%- include('partials/header') %>
    <h1><%= title %></h1>
    
  </body>
</html>